@use 'utils/mixins' as m;
@use 'utils/variables' as v;

// Mobile styles
.about{
    background-color: v.$dark-bg-c;
}

.about-container{
    @include m.paddings(56px, 36px, 66px, 36px);
}

.about-title{
    @include m.text-character(20px,28px, v.$light-c-t);
    @include m.title-character(400,uppercase,center,24px);
}

.about-text{
    @include m.cut-text(15,420px);

    @include m.text-character(13px, 28px, v.$light-c-t);

    margin-bottom: 16px;

    &>span{
        color: v.$gold-t-c;
    }
}

.about-text.expanded {
    @include m.cut-text-expanded(1500px);
}

.about-btn{
    @include m.more-btn(v.$gold-t-c);
}

// Desktop styles

@media screen and (min-width: v.$bm){
    .about {
        background-color: v.$light-bg-c;
    }

    .about-container {
        @include m.paddings(116px, 358px, 108px, 358px);
        display: flex;
        flex-direction: column;
    }

    .about-title {
        @include m.text-character(36px, 35px, v.$dark-title-c);
        font-weight: 300;
        margin-bottom: 48px;
    }

    .about-text {
        @include m.cut-text(5, 170px);
        @include m.text-character(16px, 34px, v.$dark-text-c);
        text-align: center;
        margin-bottom: 50px;
    }
    
    .about-text.expanded {
        @include m.cut-text-expanded(612px);
    }

    .about-btn{
        @include m.more-btn-desk(v.$gold-t-c);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}