@use 'utils/mixins' as m;
@use 'utils/variables' as v;

// Mobile styles
.apartment{
    background-color: v.$dark-bg-m-c;
}

.apartment-container{
    @include m.paddings(72px, 0px, 72px, 0px)
}

.apartment-title{
    @include m.text-character(20px,28px,v.$light-c-t);
    @include m.title-character(400, uppercase,center,0px)
}

.apartment-title-wrapper{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 24px;
}

.swiper-apartment-list{
    margin-bottom: 24px;
}


.apartment-list-link{
    @include m.text-character(14px,50px,v.$neutral-t-c);
    font-weight: 400;

    &:hover, &:focus{
        text-decoration: underline;
        text-transform: uppercase;
    }
}

.apartment-more-btn-wrapper{
    @include m.border(1px, solid, v.$gold-t-c);
    margin-top: 48px;
    @include m.paddings(12px,20px,12px,20px);
    max-width: 222px;
    margin-left: auto;
    margin-right: auto;
}

.apartment-more-btn{
    font-weight: 400;
    @include m.text-character(14px,24px, v.$gold-t-c);
    text-transform: uppercase;
}

.swiper-apartment-plan .swiper-slide {
    transform: scale(0.9) !important;
    transition: transform 0.3s !important;
};

.swiper-apartment-plan .swiper-slide-active {
    transform: scale(1) !important;
}

@media screen and (max-width: v.$max-mob-m) {
    .apartment-button-prev {
        @include m.visually-hidden
    };

    .apartment-button-next {
        @include m.visually-hidden
    }
}

// Desktop styles
@media screen and (min-width: v.$bm){
    .apartment-container {
        @include m.paddings(160px, 0px, 252px, 0px)
    }

    .apartment-title {
        font-size: 36px;
        line-height: 35px;
        font-weight: 300;
        text-transform: none;
    }

    .apartment-title-wrapper {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 80px;
    }

    .swiper-apartment-list {
        margin-bottom: 62px;
        max-width: 1300px;

        &>ul{
            display: flex !important;
            justify-content: space-between;
            column-gap: 10px;
        }
    }

    .apartment-list-item{
        max-width: calc((100% - 40px) / 5);
    }

    .apartment-button-prev {
        background-color: transparent !important;
        padding: 0 !important;
        border-color: transparent;
            @include m.size(68px, 68px);
    
            &::after {
                content: '';
            }
        }
    
    .apartment-button-next {
            background-color: transparent !important;
            padding: 0 !important;
            border-color: transparent;
            @include m.size(68px, 68px);
    
            &::after {
                content: '';
            }
        }

    .swiper-apartment-plan{
        width: 60%;
        padding-top: 70px;
        padding-bottom: 70px;
        height: auto;
    }

    .swiper-apartment-plan .swiper-slide {
        transform: scale(0.9) !important;
        transition: transform 0.3s !important;
        opacity: 0.5;
    };
    
    .swiper-apartment-plan .swiper-slide-active {
        transform: scale(1.6) !important;
        z-index: 10000;
        opacity: 1;

    }

    .apartment-plan{
        margin-left: auto;
        margin-right: auto;
    }

    .apartment-more-btn-wrapper {
        margin-top: 62px;
        padding-top: 8px;
        padding-bottom: 8px;
        max-width: 230px;
    }

    .apartment-more-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 35px;
    }
}