@use 'utils/mixins' as m;
@use 'utils/variables' as v;

// Mobile styles
.events-container{
    @include m.paddings(48px,0px,72px,0px);
}

.events-title{
    @include m.text-character(20px,28px,v.$dark-title-c);
    @include m.title-character(400, uppercase,center, 24px);
}

.swiper-events{
    margin-bottom: 16px;
}

.swiper-slide-events img{
    @include m.border(1px,solid,#0A0A0BB2)
}

.events-text-wrapper{
    padding-left: 24px;
    padding-right: 24px;
}

.events-text{
    @include m.text-character(13px, 28px, v.$dark-text-c);

    &>span{
        color: v.$gold-t-c;
    }
}

@media screen and (max-width: v.$max-mob-m) {
    .events-button-prev {
        @include m.visually-hidden
    };

    .events-button-next {
        @include m.visually-hidden
    }

    .events-cols {
        @include m.visually-hidden
    }

}

// Desktop styles
@media screen and (min-width: v.$desk-1-m){
    .events-container {
        @include m.paddings(0px, 0px, 0px, 0px);
        height: 520px;
        position: relative;
    }

    .events-extra-container {
        max-width: 71%;
        position: absolute;
        top: -134px;
        left: 14%; 
        @include m.border(1px,solid,#EFDDD2);
        @include m.paddings(48px, 88px, 134px, 88px);
        background-color: v.$light-bg-c;
    }

    .events-title {
        @include m.text-character(36px, 35px, v.$dark-title-c);
        @include m.title-character(300, none, center, 48px);
    }

    .swiper-events {
        margin-bottom: 50px;
        padding-bottom: 30px;
        padding-left: 78px;
        padding-right: 78px;;
    }

    .events-text-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .events-text {
        font-size: 16px;
        line-height: 34px;
        text-align: center;
    }

    .events-picture{
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-pagination-bullet {
        margin-top: 22px;
        @include m.size(12px,12px);
        background-color: #D9D9D9;
        opacity: 1;
        transition: background-color 0.3s ease;
    }

    .swiper-pagination-bullet-active {
        background-color: #424148;
        }

    .events-cols{
        @include m.text-character(16px,34px,v.$dark-text-c);
        position: absolute;
        right: 78px;
    }

    .events-button-prev{
        background-color: v.$gold-t-c;
        padding: 0 !important;
        border-color: transparent;
        @include m.size(68px,68px);

        &::after{
            content: '';
        }
        left: 0;

        transition: background-color 0.3s ease-out;
        &:hover,
        &:focus{
            background-color: #EFDDD2;
        }
    }

    .events-button-next{
        background-color: v.$gold-t-c;
        padding: 0 !important;
        border-color: transparent;
        @include m.size(68px,68px);

        &::after{
            content: '';
        }
        right: 0;

        transition: background-color 0.3s ease-out;
        &:hover,
        &:focus{
            background-color: #EFDDD2;
        }
    }

}

@media screen and (min-width: v.$desk-3-m) {
.events-container {
        height: 620px;
        
    }
}

@media screen and (min-width: v.$desk-5-m) {
    .events-cols{
        right: 90px;
    }
}