@use 'utils/mixins' as m;
@use 'utils/variables' as v;


// Mobile styles
.gallery-container{
    @include m.paddings(48px,0,72px, 0);
};

.gallery-title{
    font-weight: 400;
    @include m.text-character(20px, 28px, v.$dark-title-c);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
};

.gallery-video-link{
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-video-play{
    @include m.size(56px,50px);
    &::after {
        opacity: 0.7;
        display: block;
        content: "";
        @include m.size(100%,100%);
        background: url(../.././images/Gallery/gallery-btn1.svg) center no-repeat;
        }
        transition: opacity 0.3s ease-out;
}

.gallery-video-link:hover{
    .gallery-video-play::after{
        opacity: 1;
    }

    .gallery-video-wrapper{
        border-color: v.$btn-more-hover;
        &>p {
            color: v.$btn-more-hover;
            }
    }
}


.gallery-video-btn{
  @include  m.size(56px,50px);
  margin-right: 8px;
}

.gallery-video-wrapper{
    @include m.size(267px, 50px);
    @include m.border(1px, solid,v.$gold-t-c);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$light-bg-c;

    &>p{
        color: v.$gold-t-c;
        transition: color 0.3s ease-out;
    }

    transition: color 0.3s ease-out, border-color 0.5s ease-out;

}

.gallery-item{
    width: 330px;
    height: 430px;
    overflow: hidden;
    & img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


@media screen and (max-width: 1198px) {
    .build-path-button-prev {
            @include m.visually-hidden
        };
    
    .build-path-button-next {
            @include m.visually-hidden
        }
}


// Desktop styles

@media screen and (min-width: v.$desk-1-m){
    .gallery-container {
        @include m.paddings(80px, 0, 72px, 0);
        position: relative;
    };

    .gallery-decor-1{
        &::before{
            position: absolute;
            left: 40px;
            top: 8%;
            display: inline-block;
            content: "";
            width: 32%;
            height: 80%;
            background-color: #F8F8F8;
            transform:perspective(1000px) rotateY(12deg);
            transform-origin: right center;
        }

        &::after{
            position: absolute;
            right: 40px;
            top: 8%;
            display: inline-block;
            content: "";
            width: 32%;
            height: 80%;
            background-color: #F8F8F8;
            transform:perspective(1000px) rotateY(-12deg);
            transform-origin: left center;
        }
    }

    .gallery-decor-2{
        &::before{
            position: absolute;
            left: 55px;
            top: 6%;
            display: inline-block;
            content: "";
            width: 32%;
            height: 84%;
            @include m.border(1px, solid, #EDF0ED);
            background-color: transparent;
            transform:perspective(1000px) rotateY(12deg);
            transform-origin: right center;
        }

        &::after{
            position: absolute;
            right: 55px;
            top: 6%;
            display: inline-block;
            content: "";
            width: 32%;
            height: 84%;
            @include m.border(1px,solid,#EDF0ED);
            background-color: transparent;
            transform:perspective(1000px) rotateY(-12deg);
            transform-origin: left center;
        }
        
    }

    .gallery-title {
        font-size: 36px;
        line-height: 35px;
        font-weight: 300;
        text-transform: none;
        text-align: center;
        margin-bottom: 64px;
    };

    .gallery-video-play {
        @include m.size(90px, 68px);

        &::after {
            background-size: contain;
        }
    }

    .gallery-video-link {
        position: relative;
        z-index: 1;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .gallery-video-btn {
        @include m.size(90px, 68px);
    }

    .gallery-video-wrapper {
        @include m.size(342px, 68px);
    }

    .gallery-button-prev{
        background-color: v.$gold-t-c;
        padding: 0 !important;
        border-color: transparent;
        @include m.size(68px,68px);

        &::after{
            content: '';
        }
        left: 320px;

        transition: background-color 0.3s ease-out;
        &:hover,
        &:focus{
            background-color: #EFDDD2;
        }

    }

    .gallery-button-next{
        padding: 0 !important;
        border-color: transparent;
        @include m.size(68px, 68px);
        background-color: v.$gold-t-c;
        &::after {
            content: '';
        }
        right: 320px;
        transition: background-color 0.3s ease-out;
        &:hover,
        &:focus{
            background-color: #EFDDD2;
        }

    }

}



