@use 'utils/mixins' as m;
@use 'utils/variables' as v;

// Mobile styles

.header{
    background-color: rgba(51, 51, 51, 0.46);
    backdrop-filter: blur(4px);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

    border-bottom: 1px solid rgba(119, 117, 132, 1);
}

.header-container{
    @include m.paddings(26px, 30px,26px,30px);
     
}

.header-mobile-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile-logo{
    @include m.size(90px, 54px)
}

.header-burger-btn{
    background-color: transparent;
    border-color: transparent;
}

.header-social-link{
    @include m.border(2px,solid, rgba(255, 255, 255, 0.1));
    @include m.size(45px,45px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.3s ease-out;

    &:hover,
    &:focus{
        border-color: rgba(255, 255, 255, 1);
    }

}

@media screen and (max-width: v.$max-mob-m) {
    .header-desc-wrapper {
        @include m.visually-hidden;
    }
}


// Mobile menu styles
.header-menu-wrapper{
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1000;
    height: 100vh;
    width: 100%;

    
    background-color: v.$dark-text-c;
    
    overflow: auto;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
    transform: translateX(100%);
    
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    flex-direction: column;
}

.header-menu-wrapper.is-open {
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-menu-top-wrapper{
    display: flex;
    justify-content: space-between;
    @include m.paddings(20px,21px,14px,22px);
    border-bottom: 1px solid v.$dark-bg-c;
}

.header-menu-logo{
    @include m.size(90px,54px);
}

.header-close-btn{
    background-color: transparent;
    border-color: transparent;
}

.header-menu-nav{
    @include m.paddings(32px,48px,32px,38px);
}

.header-menu-item::after{
    content: '';
    display: block;
    @include m.size(100%,1px);
    background-color: v.$dark-bg-c;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-menu-link{
    @include m.text-character(18px,28px, v.$light-c-t);
}

.header-menu-social-wrap{
    @include m.paddings(40px, 96px, 27px, 96px);
    border-top: 1px solid v.$dark-bg-c;
    margin-top: auto;
}

.header-menu-social-list{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}

// Tablet styles
@media screen and (min-width: v.$tablet-m) {
    .header-burger-icon {
        @include m.size(32px,32px);
    }
}
// Desktop styles
@media screen and (min-width: v.$desk-1-m) {
    .header{
        backdrop-filter: blur(6px);
        border-bottom: 1px solid rgba(191, 191, 202, 1);
    }
    .header-burger-btn{
        @include m.visually-hidden;
    }

    .header-mobile-logo{
        @include m.size(100px, 58px);
    }

    .header-container {
        @include m.paddings(20px, 20px, 20px, 20px);
        
    }

    .header-container-desktop{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-desc-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    }

    .header-decktop-nav-list{
        display: flex;
        column-gap: 20px;
        justify-content: space-between
    }

    .header-decktop-nav-link{
        @include m.text-character(16px,34px,v.$light-c-t);
        font-weight: 400;
        position: relative;
    }

    .header-decktop-nav-link::after{
        position: absolute;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        @include m.size(0%, 1px);
        background-color: v.$dark-bg-c;
        background-color: v.$light-c-t;

        transition: width 0.3s ease-out;
    }

    .header-decktop-nav-link:hover::after,
    .header-decktop-nav-link:focus::after{
            width: 100%;
        }

    .header-decktop-social-list{
        display: flex;
        column-gap: 10px;
    }
}

@media screen and (min-width: v.$desk-2-m){
.header-mobile-logo {
        @include m.size(116px, 70px);
    }

.header-desc-wrapper {
    column-gap: 80px;
}

.header-decktop-nav-list {
    column-gap: 40px;
}

.header-decktop-social-list{
    column-gap: 20px;
}
}

@media screen and (min-width: v.$desk-4-m){
.header-desc-wrapper {
    column-gap: 236px;
    }
}
