@use 'utils/mixins' as m;
@use 'utils/variables' as v;


// Mobile styles
.hero{
    background-color: rgba(66, 65, 72, 1);
}

.hero-container{ 
    position: relative;
    background-image: url("../.././images/Hero/hero-mobile.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    @include m.paddings(144px, 0, 68px, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span{
        display: block;
        background: url(../.././images/Hero/logo-bukovel.svg) center no-repeat;
        @include m.size(110px, 28px)
    }
}

.hero-title{
    @include m.text-character(18px, 40px, v.$light-c-t);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.hero-subtitle{
    text-align: center;
    @include m.text-character(12px, 60px, v.$light-c-t);
    margin-bottom: 255px;
}

.hero-sign{
    position: fixed;
    z-index: 10;
    bottom: 180px;
}

.hero-sign-text{
    display: block;
    background: linear-gradient(90deg, #FED67E 0%, #CFA547 18.96%, #C49C3A 38.9%, #845D24 58.27%, #BF973A 78.02%, #C29D3E 100%);
    @include m.text-character(12px, 20px, v.$dark-title-c);
    @include m.size(140px, 40px);
    @include m.paddings(10px, 30px, 10px, 30px);
    transform: rotate(270deg) translateY(-125%);
}

.social-main-wrapper{
    position: fixed;
    bottom: 42px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding-left: 38px;
    padding-right: 38px;
}

.social-main-link{
    background-color: v.$btn-bg-c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.size(54px,54px);

    transition: background-color 0.3s ease-out;

    &:hover,
    &:focus{
        background-color: v.$btn-bg-hover;
    }
}

.hero-scroll-wrapper{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    max-width: 94px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.hero-scroll-arrow{
    @include m.size(14px,28px);
    margin-left: auto;
    margin-right: auto;
}

.hero-scroll-circle span{
    display: block;
    @include m.size(6px, 14px);
    background-color: #D9D9D9;
    border-radius: 13px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function:ease;
    animation-iteration-count: infinite;
}

.hero-scroll-circle{
    position: relative;

&::before {
        content: "";
        display: inline-block;
        @include m.size(32px, 60px);
        @include m.border(1px, solid, v.$light-bg-c);
        border-radius: 26px;
    }
}

@keyframes scroll {
    0% {
        top:20%;
    }

    50% {
            top: 50%;
        }

    100% {
        top:20%;
    }
}

@media screen and (max-width: v.$max-mob-m) {
    .hero-link{
        @include m.visually-hidden;
    }

    .hero-link-call{
        @include m.visually-hidden;
    }
}

@media screen and (min-width: v.$tablet-m) {
    .social-main-wrapper {
        width: 767px;
        padding-left: 42px;
        padding-right: 42px;   
        }
}

@media screen and (min-width: v.$b-tablet-m) {
    .social-main-wrapper {
        width: 991px;}
}


@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx)  {
    .hero-container {
        background-image:  url('../.././images/Hero/hero-mobile@2x.jpg');
    }
}
// Desctop styles

@media screen and (min-width: v.$desk-1-m){
    .hero-container{
        @include m.paddings(260px, 0, 34px, 0);
        background-image: url('../.././images/Hero/hero-desktop.jpg');
    }

    .hero-title-wrapper{
        margin-left: auto;
        margin-right: auto;
        max-width: 998px;
        flex-direction: row;
        column-gap: 20px;
        margin-bottom: 10px;

        & span {
            @include m.size(202px, 52px);
            background-size:contain;
            }
    }

    .hero-title {
        font-size: 36px;
        line-height: 60px;
    }

    .hero-subtitle{
        font-size: 24px;
        margin-bottom: 40px;
    }

    .hero-sign-text {
        font-size: 16px;
        line-height: 34px;
        @include m.paddings(15px, 56px, 15px, 56px);
        @include m.size(218px, 64px);
        transform: rotate(270deg) translateY(-120%) translateX(-40px);
        margin-bottom: 190px;
    }

    .hero-scroll-wrapper{
        bottom: 15%;
    }

    .hero-scroll-arrow{
        @include m.size(27px,52px);
        &>img{
            width: 100%;
            height: 100%;
        }
    }

    .hero-scroll-circle span{
        @include m.size(9px, 22px);
        top: 20%;
    }
    .hero-scroll-circle{
        &::before {
        @include m.size(46px, 88px);
        }
    }


    .social-main-wrapper {
        width: 1199px;
    }
    .social-main-link {
            @include m.size(100px, 100px);
        }

    .hero-social-icon-t{
        @include m.size(100px,100px);
    }

    .hero-social-icon-c{
        @include m.size(100px, 100px);
    }

    .hero-link-call{
        position: relative;
        z-index: 11;
        font-weight: 400;
        @include m.paddings(9px,37px,9px,37px);
        background-color: v.$btn-bg-c;
        @include m.border(1px,solid,v.$btn-bord-c);
        @include m.text-character(20px,50px,v.$light-c-t);
        @include m.size(500px,68px);
        align-self: center;
        justify-self: flex-end;

        transition: background-color 0.3s ease-out;
        
            &:hover,
            &:focus {
                background-color: v.$btn-bg-hover;
            }
    }

        
}

@media screen and (min-width: v.$desk-2-m){
    .social-main-wrapper {
        width: 1399px;
    }
}

@media screen and (min-width: v.$desk-3-m) {
    .social-main-wrapper {
        width: 1549px;
        }
}

@media screen and (min-width: v.$desk-4-m) {
    .social-main-wrapper {
        width: 1779px;
        }
}

@media screen and (min-width: v.$desk-5-m) {
    .social-main-wrapper {
        width: 1920px;
        }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: v.$desk-5-m),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: v.$desk-5-m),
screen and (min-resolution: 192dpi) and (min-width: v.$desk-5-m),
screen and (min-resolution: 2dppx) and (min-width: v.$desk-5-m) {
    .hero-container {
        background-image: url('../.././images/Hero/hero-desktop@2x.jpg');
    }
}