@use 'utils/mixins' as m;
@use 'utils/variables' as v;


// Mobile styles
.hero{
    background-color: rgba(66, 65, 72, 1);
}

.hero-container{ 
    background-image: url("../.././images/Hero/hero-mobile.jpg");
    background-size: cover;
    background-position: center;
    @include m.paddings(144px,12px, 36px, 0);
    display: flex;
    flex-direction: column;
}

.hero-title{
    @include m.text-character(18px, 40px, v.$light-c-t);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.hero-subtitle{
    text-align: center;
    @include m.text-character(12px, 60px, v.$light-c-t);
    margin-bottom: 255px;
}

.hero-sign-text{
    background: linear-gradient(90deg, #FED67E 0%, #CFA547 18.96%, #C49C3A 38.9%, #845D24 58.27%, #BF973A 78.02%, #C29D3E 100%);
    @include m.text-character(12px, 35px, v.$dark-title-c);
    @include m.paddings(2px, 30px, 0px, 30px);
    @include m.size(140px, 32px);
    transform: rotate(270deg) translateY(-168%);
    margin-bottom: 60px;
}

.hero-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.paddings(0, 38px, 0px, 26px);
}

@media screen and (max-width: v.$max-mob-m) {
    .hero-link{
        @include m.visually-hidden;
    }

    .hero-bukovel {
        max-width: 110px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-link-call{
        @include m.visually-hidden;
    }
}


@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx)  {
    .hero-contauner {
        background-image:  url('../.././images/Hero/hero-mobile@2x.jpg');
    }
}
// Desctop styles

@media screen and (min-width: v.$bm){
    .hero-container{
        @include m.paddings(260px, 120px, 34px, 0);
        background-image: url('../.././images/Hero/hero-desktop.jpg');
    }

    .hero-title-wrapper{
        max-width: 998px;
        display: flex;
        column-gap: 20px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .hero-title {
        font-size: 36px;
        line-height: 60px;
    }

    .hero-bukovel-icon{
        @include m.size(202px,50px)
    }

    .hero-subtitle{
        font-size: 24px;
        margin-bottom: 40px;
    }

    .hero-sign-text {
        font-size: 16px;
        line-height: 34px;
        @include m.paddings(15px, 56px, 15px, 56px);
        @include m.size(218px, 64px);
        transform: rotate(270deg) translateY(-120%) translateX(-40px);
        margin-bottom: 190px;
    }

    .hero-social{
        padding-left: 120px;
    }

    .hero-social-icon{
        @include m.size(120px,120px);
    }

    .hero-link-call{
        font-weight: 400;
        @include m.paddings(9px,37px,9px,37px);
        background-color: v.$btn-bg-c;
        @include m.border(1px,solid,v.$btn-bord-c);
        @include m.text-character(20px,50px,v.$light-c-t);
        @include m.size(500px,68px);
    }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: v.$bm),
screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: v.$bm),
screen and (min-resolution: 192dpi) and (min-width: v.$bm),
screen and (min-resolution: 2dppx) and (min-width: v.$bm) {
    .hero-container {
        background-image: url('../.././images/Hero/hero-desktop@2x.jpg');
    }
}