@use 'utils/mixins' as m;
@use 'utils/variables' as v;


// Mobile styles
.invest-container{
    @include m.paddings(48px, 0px, 48px, 0px);
}

.invest-title-wrapper{
    padding-left: 24px;
    padding-right: 24px; 
}

.invest-title{
    @include m.text-character(20px, 28px, v.$dark-title-c);
    @include m.title-character(400,uppercase,center,30px);

}

.invest-picure-item{
    max-width: 300px;
    margin-right: 12px;
    min-height: 495px;
    
}

.invest-picure{
    min-height: 495px;
}

.invest-picture-title{
    @include m.text-character(20px,35px,v.$dark-text-c);
    text-align: center;
}

.invest-overlay-wrapper{
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
}

.invest-overlay{
    position: absolute;
    @include m.paddings(12px,20px,12px,20px);
    @include m.size(100%,100%);
    left: 0;
    top: 0;
    overflow: auto;
    transform: translate(100%, 0);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #000000B2;
}

 .invest-overlay.open{
    opacity: 1;
    transform: translate(0, 0);
}

.invest-overlay-text{
    @include m.text-character(10px,18px,v.$light-c-t);
    &>span{
        color: v.$gold-t-c;
    }
}

@media screen and (max-width:v.$max-mob-m) {
    .invest-btn{
        @include m.visually-hidden;
    }

   .invest-title>span {
        color: v.$gold-t-c;
        }
}

// Desktop styles

@media screen and (min-width: v.$desk-1-m){
    .invest-title-wrapper {
        padding:0;
    }

    .invest-title {
        @include m.text-character(36px, 35px, v.$dark-title-c);
        @include m.title-character(300, none, center, 60px);
    }

    .invest-container {
        padding: 0;
        position: relative;
        min-height: 750px;
        transition: min-height 0.5s ease-out;
        
        &.expanded{
            min-height: 1940px;      
        }
    }
    .invest-content-wrapper{
        position: absolute;
        top: -208px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.paddings(112px,22px,28px,22px);
        @include m.border(1px,solid,#EFDDD2);
        width: 1100px;
        background-color: v.$light-bg-c;
    }

    .invest-list{
        margin-bottom: 48px;
        display: flex;
        column-gap: 33px;
        flex-wrap: wrap;
        row-gap: 14px;
    }

    .invest-picture-item{
        height: auto;
        max-width: calc((100% - 66px)/3);
    }

    .invest-picture-item.hidden {
        display: none;
    }

    .invest-picture-title{
        margin-top: 8px;
    }

    .invest-btn{
        @include m.border(1px,solid,#FFFFFF33);
        @include m.paddings(8px,22px,8px,22px);
        background-color: v.$btn-bg-c;
        @include m.text-character(16px,34px,v.$light-c-t);
        max-width: 226px;
        transition: background-color 0.5s ease-in-out;
        
            &:hover,
            &:focus {
                background-color: v.$btn-bg-hover;
            }
    }
}

@media screen and (min-width: v.$desk-3-m){
.invest-content-wrapper{
    width: 1370px;
}

.invest-container{
    min-height: 840px;
    &.expanded {
        min-height: 2140px;
        }
}
}