@use 'utils/mixins' as m;
@use 'utils/variables' as v;


// Mobile styles
.offices{
    background-color: v.$dark-bg-m-c;
}

.offices-container{
    @include m.paddings(48px,0px,60px,0px);
}

.offices-title{
    @include m.text-character(20px,28px, v.$light-c-t);
    @include m.title-character(400, uppercase,center, 48px);
}

.offices-item{
    @include m.paddings(24px,18px,24px,18px);
    @include m.border(1px,solid,v.$border-off-c);
}

.offices-place-wrapper{
    margin-bottom: 16px;
    min-height: 48px;
}

.offices-place-city{
    @include m.text-character(16px,24px,v.$light-c-t);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.offices-place-area{
    @include m.text-character(12px,20px,v.$neutral-t-c);
}

.offices-picture{
    margin-bottom: 16px;
}

.offices-contact-wrapper{
    margin-bottom: 16px;
}

.offices-contact-name{
    @include m.text-character(14px,26px,v.$light-c-t);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.offices-contact-phone{
    @include m.text-character(12px,20px, v.$light-c-t);
}

.offices-adress{
    @include m.text-character(12px,20px, v.$gold-t-c);
    text-decoration: underline;
}

.offices-adress-wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 112px;
}


// Desktop styles
@media screen and (min-width: v.$bm){
    .offices-container {
        @include m.paddings(232px, 364px, 112px, 364px);
    }

    .offices-title {
        font-size: 36px;
        line-height: 35px;
        @include m.title-character(300, none, center, 64px);
    }

    .offices-list{
        display: flex;
        justify-content: space-between;
    }

    .offices-item {
        @include m.paddings(28px, 20px, 66px, 20px);
        @include m.border(1px, solid, v.$border-off-c);
        max-width: 290px;
    }

    .offices-place-wrapper {
        margin-bottom: 12px;
        min-height: 52px;
    }

    .offices-place-city {
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 0px;
    }

    .offices-place-area {
        font-size: 13px;
        line-height: 26px;
    }

    .offices-picture {
        margin-bottom: 24px;
    }

    .offices-contact-wrapper {
        margin-bottom: 12px;
    }

    .offices-contact-name {
        font-weight: 400;
        margin-bottom: 12px;
    }

    .offices-contact-phone {
        font-size: 13px;
        line-height: 26px;
    }

    .offices-adress {
        font-size: 13px;
        line-height: 26px;
    }

    .offices-adress-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 116px;
    }
}
