
@mixin visually-hidden(){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin paddings($top, $right,$bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin size($width, $height){
    width: $width;
    height: $height;
}

@mixin border($width, $style, $color){
    border-width:$width;
    border-style: $style;
    border-color: $color;
}

@mixin text-character($size, $height, $color){
    font-size: $size;
    line-height: $height;
    color: $color;
}

@mixin more-btn($color){
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color;
    text-decoration: underline;
    text-transform: uppercase;
}

@mixin more-btn-desk($color-b) {
    border: 1px solid $color-b;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;
    padding: 8px 20px 8px 20px;
    color: $color-b;
    text-transform: uppercase;
    text-decoration: none;
    
}

@mixin title-character($weight, $transf, $pos, $marg) {
    font-weight: $weight;
    text-transform: $transf;
    text-align: $pos;
    margin-bottom: $marg;
}

@mixin cut-text($row, $height){
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    max-height: $height;
    transition: max-height 0.3s ease;
}

@mixin cut-text-expanded($height){
    -webkit-line-clamp: unset;
    max-height: $height;
}