// Breakpoints
$sm: 375px;
$max-mob-m: 1919px;
$bm: 1920px;

// Text color
$light-c-t:#FFFFFF;
$dark-title-c:#0A0A0B;
$dark-text-c:#18181B;
$gold-t-c:#C1945D;
$neutral-t-c: #BFBFCA;

// BG
$dark-bg-m-c: #000000;
$dark-bg-c:#1D1D21;
$light-bg-c:#FFFFFF;
$border-off-c: #424148;

// Buttons
$btn-bg-c: #172E1C;
$btn-bord-c: #455849;
$btn-bg-hover:#0E1B11;
$btn-more-hover:#653D0A;

$police-c: #777584;

