// Breakpoints
$sm: 375px;
$bm: 1200px;

// Text color
$light-c-t:#FFFFFF;
$dark-title-c:#0A0A0B;
$dark-text-c:#18181B;
$gold-t-c:#C1945D;

// BG
$dark-bg-m-c: #000000;
$dark-bg-c:#1D1D21;
$light-bg-c:#FFFFFF;

// Buttons
$btn-bg-c: #172E1C;
$btn-bord-c: #455849;


