@use "utils/variables" as v;

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;

}

.container{
    width: 100%;  
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}