@use "utils/variables" as v;

body {
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
}

.container{
    width: 100%;  
    margin: 0 auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 767px;
    }
}

@media screen and (min-width: 991px) {
    .container {
        max-width: 991px;
    }
}

@media screen and (min-width: 1199px) {
    .container {
        max-width: 1199px;
    }
}

@media screen and (min-width: 1399px) {
    .container {
        max-width: 1399px;
    }
}

@media screen and (min-width: 1549px) {
    .container {
        max-width: 1549px;
    }
}

@media screen and (min-width: 1779px) {
    .container {
        max-width: 1779px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
    }
}